* {
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    margin-top: 5%;
    color: black;
  }
  
  h3 {
    color: black;
  }
  
  .container {
    position: absolute;
    margin: auto;
    width: 80%;
    height: 80%;
  }
  
  .button {
    margin-top: 5%;
  }
  
  .hidden {
    display: none;
  }

  input {
    width: 40%;
  }
  